{erl_opts, [debug_info]}.
{deps, [{jsx, "2.9.0"},
        {cbsg,{git, "git@github.com:peterdmv/cbsg.git", {branch, master}}},
	{mochiweb_html, "2.15.0"},
	{mochiweb_xpath, {git, "git@github.com:retnuh/mochiweb_xpath",{branch, master}}}]}.

{relx, [{release, { telegrambot, "0.1.0" },
         [telegrambot,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, false}]}]
            }]
}.
